{% extends "header.html" %}

{% block content %}
<body style="background-color: #edfc47;">
    <h1 style="color:#993657; text-align: center; font-family: 'Courier New', monospace;">Add to your Merchendise!</h1>

    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
  		  <div class="alert alert-warning alert-dismissible" role="alert">
    		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    			{{message}}
  		  </div>
		  {% endfor %}
	  {% endif %}
	{% endwith %}

  <form method="POST">
      <form method="POST">
        <fieldset class="form-field">
            {{ form.item_name.label }}
            {{ form.item_name(size=50) }}
        </fieldset>

        <fieldset class="form-field">
            {{ form.quantity.label }}
            {{ form.quantity }}
        </fieldset>

        <fieldset class="form-field">
          {{ form.price.label }}
          {{ form.price }}
      </fieldset>

        {{ form.csrf_token }}
        {{ form.submit() }}
  </form>
</body>
{% endblock %}
