<!-- 
Team "Birk and Socks:" Henry Gardner, Miller Hickman, and George Gardner
CSC210 Final Project
Prof. Zhupa
Apollo Music Platform

This file is the bands page for the Apollo Music Platform, it handles the redirecting and basic initializations. 
-->

{% extends "header.html" %}

	{% block title %} Bands {% endblock %}

	{% block content %}
	<!-- Band page content -->

	
	<table border=1 style="margin-left: auto; margin-right: auto; text-align: center;">
		<thead>
		   <td>Name</td>
		   <td>Genre</td>
		</thead>
		
		{% for band in all_bands %}
		   <tr>
			  <td><a href="{{ url_for('main.band_public', bid=band['id']) }}">{{ band["name"] }}</a></td>
			  <td>{{ BandQ.query.filter_by(user_id=band["id"]).first()["genre"]}}</td>
		   </tr>
		{% endfor %}
	 </table>


	<section class="band">
		<h2>Some Current Fan Favorites:</h2>
		{% for band in all_bands %}
			<div class="row">
				<div class="band-col">
					<h1>{{ band["name"] }}</h1>
					<p>Here is the page for the popular band, {{ band["name"] }} </p>
					<a href="{{ url_for('main.band_public', bid=band['id']) }}" class="page-btn gold-btn">Explore their music</a>
				</div>
				<div class="band-col">
					<img src="static/images/{{ band['name'] }}.jpeg">
				</div>
			
			</div>
		{% endfor %}
		<!--
		EXAMPLE
		<div class="row">
			<div class="band-col">
				<h1>Tame Impala</h1>
				<p>Here is the page for the popular band, Tame Impala </p>
				<a href=""class="page-btn gold-btn">Explore their music</a>
			</div>
			<div class="band-col">
				<img src="{{ url_for('static', filename='images/tameimpala.jpeg') }}">
			</div>
		
		</div>
		-->
		
	</section>

{% endblock %}