<!-- 
Team "Birk and Socks:" Henry Gardner, Miller Hickman, and George Gardner
CSC210 Final Project
Prof. Zhupa
Apollo Music Platform

This file is the blog page for the Apollo Music Platform, it handles the redirecting and basic initializations. 
-->


{% extends "header.html" %}
	{% block title %} Blog {% endblock %}


	{% block content %}
	<!-- Blog page content -->

	<section class="blog-content">
		<div class="row">
			<div class="blog-left">
				<img src="{{ url_for('static', filename='images/blog.jpeg') }}">
				<h2> Blog</h2>
				<p> Some blog stuff.</p>
				<br>
				<p> More blog stuff.</p>
				
			<div class="comment-box">
				<h3>Leave a comment</h3>
				<form class="comment-form">
					<input type="text" placeholder="Enter Name">
					<input type="email" placeholder="Enter Email">
					<textarea rows="5" placeholder="Your Comment">
					</textarea>
					<button type="submit" class="page-btn gold-btn">POST COMMENT</button>
					
				</form>
			</div>
				
				
			</div>
			<div class="blog-right">
				<h3>Blog Post Categories</h3>
				<div>
					<span>Song Appreciation </span>
					<span>14 </span>
				</div>
				<div>
					<span>Band Appreciation </span>
					<span>12 </span>
				</div>
				<div>
					<span>Comment </span>
					<span>28 </span>
				</div>
				<div>
					<span>Questions </span>
					<span>21 </span>
				</div>
			</div>
		</div>
		
	</section>

	{% endblock %}