<!-- 
Team "Birk and Socks:" Henry Gardner, Miller Hickman, and George Gardner
CSC210 Final Project
Prof. Zhupa
Apollo Music Platform

This file is the blog page for the Apollo Music Platform, it handles the redirecting and basic initializations. 
-->


{% extends "header.html" %}
	{% block title %} Apollo Blog {% endblock %}


	{% block content %}
	<!-- Blog page content -->

	<section class="blog-content">
		<div class="row">
			<div class="blog-left">
				<div class="comment-box">
					<h3 style='text-align: center;'>Make a post:</h3>
					<form class="comment-form", method="POST">

	                    <div class="field">
	                        {{ form.email.label }}
	                        {{ form.email(size=30) }}
	                    </div>

	                    <div class="field">
	                        {{ form.post.label }}
	                        {{ form.post(size=30) }}
	                    </div>

						{{ form.csrf_token }}
						{{ form.submit() }}	

					</form>
				</div>
			</div>

			<div class="blog-right">
				<br><br>
				<h3>Blog Statistics</h3>
				<div>
					<span>How many times you've posted: </span>
					<span>{{ current_user.num_posts }}</span>
				</div>
			</div>
		</div>
		
	</section>

	{% endblock %}