{% extends "header.html" %}
   {% block title %} Apollo Discography Page {% endblock %}

{% block content %}
<body style="background-color: #edfc47;">
    <h1 style="color:#993657; text-align: center; font-family: 'Courier New', monospace;"> View Discography!</h1>

   {% with messages = get_flashed_messages() %}
	  {% if messages %}
   	  {% for message in messages %}
   		  <div class="alert alert-warning alert-dismissible" role="alert">
      		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      			{{message}}
   		  </div>
   	  {% endfor %}
	  {% endif %}
	{% endwith %}

   <br><br><br>
   <p style="text-align: center;">Click like to add one like to the song!</p>
   <table border=1 style="margin-left: auto; margin-right: auto; text-align: center;">
       <thead>
          <td>Album</td>
          <td>Song</td>
          <td># of Likes</td>
          <td>Like</td>


       </thead>
       
       {% for row in rows %}
          <tr>
             <td>{{row["album"]}}</td>
             <td>{{row["song"]}}</td>
             <td>{{row["likes"]}}</td>
             <td>
              <form method ="post">
                <button type="submit" name="like" value="{{ row['album'] + '*' + row['song']}}"> LIKE </button>
              </form>  
          </tr>
       {% endfor %}
   </table>
</body>
{% endblock %}
