<!-- 
Team "Birk and Socks:" Henry Gardner, Miller Hickman, and George Gardner
CSC210 Final Project
Prof. Zhupa
Apollo Music Platform

This file is the genres page for the Apollo Music Platform, it handles the redirecting and basic initializations. 
-->


{% extends "header.html" %}

{% block content %}	

	<!-- Genre page content -->

	<section class="band">

		<div class="row">
			<div class="band-col">
				<h1>Indie</h1>
				<p>Indie music is often characterized by its post-punk alternative sound. Indie music stems from its movement away from record lables, and is independently produced. Click here if you love guitar pop rock, alternative music, soft vintage synths, or straying from the status quo. </p>
				<a href=""class="page-btn gold-btn">Explore Indie music</a>
			</div>
			<div class="band-col">
				<img src="static/images/indie.jpeg">
			</div>
		
		</div>
		
		<div class="row">
			<div class="band-col">
				<h1>Punk</h1>
				<p>Punk rock, an ofshoot of popular hard rock, emerged in the mid-1970s. Punk music strayed from the excesses of mainstream rock in the 20th century. Also known as garage rock, punk rock is often self-produced and hard hitting. Click here if you love fast-paced songs with loud hard hitting vocals, stripped down instrumentals, and sticking it to the man. </p>
				<a href=""class="page-btn gold-btn">Explore Punk music</a>
			</div>
			<div class="band-col">
				<img src="static/images/punk.jpg">
			</div>
		
		</div>
		<div class="row">
			<div class="band-col">
				<h1>Jazz</h1>
				<p>Jazz music, a genre that orginated in African American communities in New Orleans, stems from popular folk genres, blues and ragtime. Characterized by its pulsating and rhythmic patterns, it stimulates productivity because our minds mimic the improvisation of the soulfull tunes. Click here if you love smooth rhythmic progressions, neural stimulation, and soulfull melodies. </p>
				<a href=""class="page-btn gold-btn">Explore Jazz music</a>
			</div>
			<div class="band-col">
				<img src="static/images/jazz.jpeg">
			</div>
		
		</div>
		
		<div class="row">
			<div class="band-col">
				<h1>Hip Hop</h1>
				<p>Hip hop music, also referred to as rap, developed in the United States by inner-city African Americans and Latino Americans in the late 20th century. It is characterized by its two parts: MCing and DJing. This combination of rapping and producing has had a lasting social effect leading into the 21st century. Click here if you love booming 808's, catchy beats and samples, and fiery bars. </p>
				<a href=""class="page-btn gold-btn">Explore Hip Hop music</a>
			</div>
			<div class="band-col">
				<img src="static/images/hiphop.jpeg">
			</div>	
		
	</section>

{% endblock %}
