<!-- 
Team "Birk and Socks:" Henry Gardner, Miller Hickman, and George Gardner
CSC210 Final Project
Prof. Zhupa
Apollo Music Platform

This file is the user login page for the Apollo Music Platform, it handles the redirecting and basic initializations. 
-->

{% extends "header.html" %}

{% block content %}	
	
	<!-- USER Login page content -->

	<section class="login-content">
		<div class="row">
			<div align="center">
				<div class="login-box">
					<!-- DISPLAY WHEN THE ACCOUNT DOESN'T EXIST -->
					{% with messages = get_flashed_messages() %}
					    {% if messages %}
					        <h3 style="color:red">{{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.</h3>
					    {% endif %}
					{% endwith %}			
							
					<form method="POST">
						<h3>User Login</h3>
						<div class="login-box">
							<div class="field">
								{{ form.email.label }}
								{{ form.email(size=50) }}
							</div>
					
							<div class="field">
								{{ form.password.label }}
								{{ form.password(size=50) }}
							</div>
							{{ form.csrf_token }}
							{{ form.submit() }}
						</div>
					</form>
				</div>		
			</div>	
		</div>
		
	</section>

{% endblock %}