<!-- 
Team "Birk and Socks:" Henry Gardner, Miller Hickman, and George Gardner
CSC210 Final Project
Prof. Zhupa
Apollo Music Platform

This file is the user login page for the Apollo Music Platform, it handles the redirecting and basic initializations. 
-->

{% extends "header.html" %}

{% block content %}	
	
	<!-- USER Login page content -->

	<section class="login-content">
		<div class="row">
			<div class="login-left">
				<div class="login-box">
					<form method="POST" action="/login">
						<h3>User Login</h3>
						<form class="login-form">
							<h3>
								<input type="email" name="email" placeholder="Email">
								<br>
								<input type="password" name="password" placeholder="Password">
								<br>
								<br>
								<button type="submit" class="page-btn gold-btn">LOGIN</button>
							</h3>
						</form>
					</form>
				</div>		
			</div>	
		</div>
		

		<!-- BAND Login page content 

		<div class="row">
			<div class="login-right">
				<div class="login-box">
					<h3>Band Login</h3>
					<form class="login-form">
						<h3>
							<input type="email" placeholder="Email">
							<input type="password" placeholder="Password">
							<br>
							<button type="submit" class="page-btn gold-btn">LOGIN</button>
						</h3>
						
						
					</form>
				</div>	
			</div>		
		</div>
		
		
		<div class="row">
			
				<div class="login-box">
					<h3>Create an Account</h3>
					<form class="login-form">
						<h3>
							<input type="email" placeholder="Email">
							<input type="password" placeholder="Password">
							<input type="password" placeholder="Confirm Password">
							<br>
							<button type="submit" class="page-btn gold-btn">LOGIN</button>
						</h3>
						
						
					</form>
				</div>		

		</div>
		-->
	</section>

{% endblock %}
