{% extends "header.html" %}
	{% block title %} Apollo Profile {% endblock %}

{% block content %}
<section>
	{% if current_user.is_authenticated %}
		<!-- GET THE EMAIL THROUGH THE CURRENT_USER CALL -->
		<h1 class="title"> Welcome {{ current_user.email }} to your profile!</h1>

		{% if current_user.account_type == "band" %}
			<a href="{{ url_for('main.add_discog', uid=current_user.id) }}">
				<button>ADD DISCOGRAPHY</button>
			</a>
			<a href="{{ url_for('main.add_merch', uid=current_user.id) }}">
				<button>ADD MERCH</button>
			</a>
		{% endif %}
		<br><br><br><br><br><br>
		<h2>Navigate the website in the tabs above.</h2>
		<h3>Thank you for supporting the Apollo Music Platform!</h3>
	{% endif %} 
</section>
{% endblock %}