{% extends "header.html" %}

{% block content %}
<body style="background-color: #edfc47;">
    <h1 style="color:#993657; text-align: center; font-family: 'Courier New', monospace;">Purchase Merchendise!</h1>

    <br><br><br>
    <table border = 1 style="margin-left: auto; margin-right: auto; text-align: center;">
        <thead>
           <td>Item Name</td>
           <td>Price</td>
           <td>Quantity</td>
 
        </thead>
        
        {% for row in rows %}
           <tr>
              <td>{{row["item_name"]}}</td>
              <td>{{row["price"]}}</td>
              <td> {{ row["quantity"]}}</td>	
           </tr>
        {% endfor %}
     </table>

    <section class="login-content">
        <div align="center">
            <div class="login-box">
                <form method="POST">
                    <h3>Make Purchase</h3>
                    <div class="login-box">
                        <div class="field">
                            {{ form.item_name.label }}
                            {{ form.item_name(size=30) }}
                        </div>
                
                        <div class="field">
                            {{ form.quantity.label }}
                            {{ form.quantity }}
                        </div>

                        {{ form.csrf_token }}
                        {{ form.submit() }}
                    </div>
                </form>
            </div>      
        </div>  
    </section>

</body>
{% endblock %}