<!-- 
Team "Birk and Socks:" Henry Gardner, Miller Hickman, and George Gardner
CSC210 Final Project
Prof. Zhupa
Apollo Music Platform

This file is the user login page for the Apollo Music Platform, it handles the redirecting and basic initializations. 
-->

{% extends "header.html" %}
	{% block title %} Apollo Login/Signup {% endblock %}

	{% block content %}	
	
	<!-- USER Login page content -->

	<section class="login-content">
			<div align="center">
				<div class="login-box">
						<a href="{{ url_for('auth.signup_user') }}" class="page-btn gold-btn" style="margin:50px;">USER SIGNUP</a>

						<a href="{{ url_for('auth.signup_band') }}" class="page-btn gold-btn" style="margin:50px;">BAND SIGNUP</a>

						<a href="{{ url_for('auth.login') }}" class="page-btn gold-btn" style="margin:50px;">LOGIN</a>
				</div>		
			</div>	
	</section>

{% endblock %}