{% extends "header.html" %}

{% block content %}
    <section>
        <div class="column is-4 is-offset-4">
            <h3 class="title">Sign Up</h3>
            <div class="box">
                <form method="POST">
                    <div class="login-box">
                        <div class="field"> 
                            {{ form.name.label }}
                            {{ form.name(size=30) }}
                        </div>
                            
                        <div class="field">
                            {{ form.email.label }}
                            {{ form.email(size=30) }}
                        </div>
                        
                        <div class="field">
                            {{ form.password.label }}
                            {{ form.password(size=30) }}
                        </div>

                        {% if band %}
                            <div class="field">
                                {{ form.genre.label }}
                                {{ form.genre(size=30) }}
                            </div>
                        {% endif %}

                        {{ form.csrf_token }}
                        {{ form.submit() }}
                    </div>

                   
                </form>
            </div>
        </div>
    </section>
    
    <!-- DISPLAY WHEN THE EMAIL EXISTS -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h3 style="color:red">{{ messages[0] }}, or <a href="{{ url_for('auth.login') }}">login</a>.</h3>
        {% endif %}
    {% endwith %}
{% endblock %} 


 <!-- PREVIOUS
<form method="POST" action="/signup"> 

 <div class="field">
                        <div class="control">
                            <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="Password">
                        </div>
                    </div> -->

                    <!--<div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="account_type" placeholder="Account Type (User/Band)" autofocus="">
                        </div>
                    </div> -->
                    <br><br>

                    <!-- <button class="button is-block is-info is-large is-fullwidth">Sign Up</button> -->